.main {
	background-color: #e5f4eca4;
	width: 80%;
	height: 100vh;
	max-width: 960px;

	margin: 1rem auto;
	padding: 2rem;
	border-radius: 4px;
	font-family: "Open Sans", sans-serif;

	h1 {
		font-size: 4rem;
	}
	a {
		background-color: #8aea929f;
		padding: 0.5rem;
		border-radius: 4px;
		color: #333;
		text-decoration: none;
		font-weight: 700;

		&:hover {
			background-color: #77d87f;
		}
	}

	.dashboard {
		display: flex;
		justify-content: space-between;
		padding: 2rem 2rem 1rem 2rem;
		align-items: center;
	}

	hr {
		width: 90%;
		border: 1px solid #333;
	}

	.main-section {
		width: 100%;

		overflow-x: hidden;
		overflow-y: scroll;
		scroll-behavior: smooth;
		scrollbar-face-color: yellow;
		height: 70%;
		margin: 3rem auto;
		width: 90%;
	}

	h2 {
		padding: 0;
		font-weight: 700;
		font-size: 1.5rem;
	}
}
