* {
	font-family: "Open Sans", sans-serif;
}

.App {
	color: #333;
	background-color: #afd4c0;
	height: 100%;
	background: linear-gradient(#05050598, #212e2760),
		url(./assets/dawn-desktop-wallpaper-evening-1612351.jpg);
	background-size: cover;
}
