* {
	font-family: "Open Sans", sans-serif;
}

.App {
	color: #333;
	background-color: #afd4c0;
	height: 100vh;
	background: linear-gradient(#3d413f5d, #161d1949),
		url(./assets/dawn-desktop-wallpaper-evening-1612351.jpg);
	background-size: cover;
}
